<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Clinic Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Clinic Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse"
   data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
 
</nav>

	<div class = "container">
		<div class = "row" style="margin-top: 100px;">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Login</h1>
				<div class = "card-body">				
					<div class ="form-group text-center">
						Invalid credentials provided
					</div>						
				</div>
			</div>
		</div>
		<div class = "row d-flex justify-content-center mt-4">
			<div class = "col-lg-3 text-center">
				<a th:href = "@{/logout}" 
				class = "btn btn-primary btn-sm mb-3 text-center "> Click to login again</a>
			</div>
		</div>
	</div>
</body>
</html>
